

@font-face {
    font-family: 'TT Firs Neue';
    src: url('../../public/font/../../public/font/TTFirsNeue/TTFirsNeue-Regular.eot');
    src: local('TT Firs Neue Regular'), local('../../public/font/TTFirsNeue/TTFirsNeue-Regular'),
        url('../../public/font/../../public/font/TTFirsNeue/TTFirsNeue-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../public/font/TTFirsNeue/TTFirsNeue-Regular.woff2') format('woff2'),
        url('../../public/font/TTFirsNeue/TTFirsNeue-Regular.woff') format('woff'),
        url('../../public/font/TTFirsNeue/TTFirsNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'TT Firs Neue';
    src: url('../../public/font/TTFirsNeue/TTFirsNeue-Bold.eot');
    src: local('TT Firs Neue Bold'), local('../../public/font/TTFirsNeue/TTFirsNeue-Bold'),
        url('../../public/font/TTFirsNeue/TTFirsNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../public/font/TTFirsNeue/TTFirsNeue-Bold.woff2') format('woff2'),
        url('../../public/font/TTFirsNeue/TTFirsNeue-Bold.woff') format('woff'),
        url('../../public/font/TTFirsNeue/TTFirsNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Eurostar Black Extended';
    src: url('../../public/font/EuroStar/eurostarblackextended.eot');
    src: local('TT Firs Neue Italic'), local('../../public/font/TTFirsNeue/TTFirsNeue-Italic'),
    url('../../public/font/EuroStar/eurostarblackextended.eot?#iefix') format('embedded-opentype'),
    url('../../public/font/EuroStar/eurostarblackextended.woff2') format('woff2'),
    url('../../public/font/EuroStar/eurostarblackextended.woff') format('woff'),
    url('../../public/font/EuroStar/eurostarblackextended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}